.container{
    margin: 50px 0px;
}
.thanh1{
    margin-top: 0px;
    border-top: 2px solid rgba(62,44,100,0.6);
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0px;
}
.thanh2{
    margin-top: 0px;
    border-top: 2px solid rgba(196, 57, 177, 0.6);
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0px;
}
.colum{
    width: 20%;

}
.bg-danger{
    color: antiquewhite;
}
.row{
    padding: 10px 10px;
}
.form-group{
    height: 80%;
    width: 50%;
    border-radius: 25%;
}
.btn{
    width: 18%;
    margin: 0% 36%;
}
.form-input{
    border-radius: 25%; 
}